body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
}

/* Navbar */
header {
}

.navbar {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 10px;
  justify-content: space-between;
}

.site-name {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}

.nav a svg {
  max-width: 36px;
}
