body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
}
.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
  display: inline-flex;
}

/* Navbar */
.navbar {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 5vw;
  justify-content: space-between;
}

.bar3 {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

.site-name {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}

.nav a svg {
  max-width: 36px;
}

/* banner */

.banner {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
}

.banner_detail {
  max-width: 50%;
}

.banner_detail h2 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
}

.banner_detail p {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0px;
}

.banner_img img {
  max-width: 85%;
}

/* responsive */
@media (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
  }

  .banner_detail {
    max-width: 80%;
    text-align: center;
  }

  .banner_img img {
    max-width: 100%;
  }

  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .bar3 {
    display: block;
  }

  .nav li:nth-child(odd),
  .nav li:nth-child(2),
  .nav li:nth-child(4) {
    display: none;
  }

  .nav {
    padding: 0px;
  }
}
